# Auth
APP_SECRET=7fd1b95164a57ff99bda0b576eb2ee9

# Addresses
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000

# Mail
MAIL_DRIVER=ethereal

# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Storage
STORAGE_DRIVER=disk
